.container
  max-width: 1170px
  width: 100%
  margin: 0 auto
  padding: 0 20px

.l
  display: flex
  flex-flow: row nowrap
  align-items: flex-start

  &__col
    max-width: 25%
    flex-basis: 25%

  &__col_gap
    margin-left: 25%

  &__col_gap-md
    margin-left: 50%

  &__col_center
    align-self: center
