
h1,
.h1
  color: $black
  font-size: 72px
  text-transform: uppercase
  line-height: 1.1
  letter-spacing: -2.5px
  +arial-b

  +md
    font-size: 50px

  +sm
    font-size: 22px
    letter-spacing: normal

h2,
.h2
  font-size: 36px
  text-transform: uppercase
  +arial-b

  +md
    font-size: 28px

  +sm
    font-size: 20px

h3,
.h3
  font-size: 26px
  line-height: 1.5
  text-transform: uppercase
  +arial-b

  +md
    font-size: 22px

  +sm
    font-size: 18px

h4,
.h4
  font-size: 20px
  line-height: 1.2
  text-transform: uppercase
  +arial-b

  +md
    font-size: 18px

  +sm
    font-size: 16px

h5,
.h5
  font-size: 16px
  line-height: 1.2

  +sm
    font-size: 15px
