---
title: Index page
---
{% extends "layouts/_layout.html" %}

<!-- TODO:
	2- МОБИЛЬНАЯ ВЕРСИЯ
-->


{% block content %}
	<section class="section section_md bg-gray">

		<div class="container ">
			<div class="section__inner">
				<h1 class="section__caption">​​Icons8&nbsp;allows the&nbsp;professional and&nbsp;amateur designers express&nbsp;their&nbsp;ideas by&nbsp;providing&nbsp;the&nbsp;right design&nbsp;elements at&nbsp;the&nbsp;right&nbsp;time.</h1>

				<button type="button" class="play section__play">
					<span class="play__icon"></span>
					<span class="play__content">
						<span class="play__text">About Icons8</span>
						<span class="play__desc">1:26</span>
					</span>
				</button>
			</div>
		</div>

		<div class="section__vertical section__text-right">
			<a href="#" class="sectiton__link color-gray">Questions?</a>
		</div>

		<div class="section__left">
			<div class="lines">
				<span></span>
				<span></span>
			</div>
		</div>
	</section>

	<section id="vue-section"
		:class="['section',  setBgClass]">
			<div class="tabs" >
				<div class="tabs__caption text-center">
					<button type="button"
						name="button"
						v-for="(tab, index) in tabs"
						:key="index"
						:class="['h3 tabs__button', { 'is-active': currentTab === tab }]"
						@click="currentTab = tab">
						<!-- I have problems with my nunjuks template(this is also {{ var }} syntax)( and the tab name is not displayed. I solved it in css.  -->

						<!-- {{ tab }} -->
					</button>
				</div>
				<div class="tabs__content">
					<div class="tab-1"
						v-if="activeTab">
						<div class="tabs__title h3 color-white">Everybody is full <br> of creativity until he gets bored <br> and distracted.</div>
						<div class="container">

							<div class="l">
								<div class="l__col">
									<ul class="list list_light">
					          <li class="list__title">Mundane <br> design operations<br> ore:</li>
					        </ul>
								</div>
							</div>

							<div class="l">

								<!-- BEGIN col -->
								<div class="l__col">
									<ul class="list list_light">
					          <li class="list__item">Drawing rectangles</li>
					          <li class="list__item">Selecting layers</li>
					        </ul>
								</div>
								<!-- END col -->

								<!-- BEGIN col -->
								<div class="l__col">
									<ul class="list list_light">
					          <li class="list__item">Aligning the objects</li>
					          <li class="list__item">Rounding</li>
					          <li class="list__item">Creating symbols</li>
					          <li class="list__item">Destroying</li>
					        </ul>
								</div>
								<!-- END col -->

								<!-- BEGIN col -->
								<div class="l__col l__col_gap">
									<div class="desc desc_white desc_top">And few dozen other boring, low-level tasks that kill creativit</div>
								</div>
								<!-- END col -->
							</div>
						</div>
					</div>
					<div class="tab-2"
						v-else>
						<div class="tabs__title h3 color-white">To deliver the content <br> before designers even think <br> about it.</div>
						<div class="container">
							<div class="l">
								<!-- BEGIN col -->
								<div class="l__col">
									<ul class="list list_light">
					          <li class="list__title">We create</li>
					          <li class="list__item">Design elements</li>
					          <li class="list__item">Tools</li>
					        </ul>
								</div>
								<!-- END col -->

								<!-- BEGIN col -->
								<div class="l__col">
									<ul class="list list_light">
					          <li class="list__title">we share</li>
					          <li class="list__item">Icons in any size and style</li>
					          <li class="list__item">Stock photos</li>
					          <li class="list__item">Music for your videos</li>
					          <li class="list__item">Illustrations</li>
					          <li class="list__item">More</li>
					        </ul>
								</div>
								<!-- END col -->

								<!-- BEGIN col -->
								<div class="l__col l__col_gap">
									<div class="desc desc_white">We aim for the creative world.</div>
								</div>
								<!-- END col -->
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- TABS -->

	</section>


	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

	<script>
		new Vue({
			el: '#vue-section',
			data: {
				currentTab: 'problem',
				tabs: ['problem', 'solution']
			},
			computed: {
				setBgClass() {
					return this.currentTab === this.tabs[0] ? 'bg-red' : 'bg-green'
				},
				activeTab() {
					return this.currentTab === this.tabs[0] ? true : false
				},
			}
		});
	</script>
	<section class="section section_sm">
		<div class="container">
			<div class="l">
				<div class="l__col color-gray">
					Meanwhile we use
				</div>
			</div>
		</div>

		<div class="text-center">
			<h4 class="section__width">
				Predictive&nbsp;analytics better&nbsp;UX  Machine&nbsp;learning
			</h4>
		</div>

	</section>

	<section class="section section_md bg-gray ">
		<div class="text-center">
			<h3 class=" section__title">team of 40</h3>
			<div class="h5 section__desc">Unlike designer marketplaces that resell the files, we actually produce our content. <br> We tag it. And we create the custom tools <br> to keep it at hand.</div>

			<!-- BEGIN team -->
			{% include './partials/_teams.html'%}
			<!-- END team -->
		</div>

		{% set teamsAre = [
			{
				title: 'we are',
				links: ['Icon designers', 'Illustrators', 'UX designers', 'Motion designer', '3D artists', 'Photographer & makeup artist', 'Retouch artists', 'Musicians']
			},
			{
				title: '',
				links: ['Front-end developers', '.Net developers', 'QA', 'DevOps', 'Computer vision expert', 'Writers', 'Support engineers']
			}
		]%}

		<div class="container">
			<div class="l">

				{% for el in teamsAre %}
				<div class="l__col">
					<ul class="list list_title list_dark">
	          <li class="list__title">{{ el.title }}</li>
	          {% for link in el.links %}
	          <li class="list__item">{{ link }}</li>
	          {% endfor %}
	        </ul>
				</div>
				{% endfor %}

				<div class="l__col l__col_gap">
					<div class="desc">
						We are a fully remote tribe. <br> Cheers.
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section section_row">
		<!-- TODO: добавить ховер  -->
		<div class="section__item bg-light-blue" >
			<a href="#" class="h2">api</a>
			<div class="section__vertical section__meta section__meta_bottom">
				<a href="#" class=" ">Use, Share and Create</a>
			</div>
		</div>
		<div class="section__item bg-green">
			<a href="#" class="h2">products</a>
			<a href="#" class="section__meta section__meta_top">Become our hero</a>
		</div>
	</section>

{% endblock %}
