.icon-dribbble {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-fb {
  width: 0.46em;
  height: 1em;
  fill: initial;
}
.icon-g+ {
  width: 1.62em;
  height: 1em;
  fill: none;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-medium {
  width: 1.15em;
  height: 1em;
  fill: initial;
}
.icon-twitter {
  width: 1.25em;
  height: 1em;
  fill: initial;
}
